<section ng-controller="ArticlesController">
  <div class="page-header">
    <h1>New Post</h1>
  </div>
  <div class="col-md-12">
    <form name="articleForm" class="form-horizontal" ng-submit="create(articleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
            <label placeholder="Section" for="section">Section</label>
            <select name="section" type="section" ng-model="section" id="section" class="form-control"  required>
                <option value="" disabled selected>Choose One</option>
                <option value="Jobs">Jobs</option>
                <option value="Housing">Housing</option>
                <option value="Events">Events</option>
            </select>
            <!--input name="section" type="section" ng-model="section" id="section" class="form-control" placeholder="Section" required-->
            <div ng-messages="articleForm.section.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Article section is required.</p>
            </div>
        </div>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="articleForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Post title is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="location">Location</label>
          <input name="location" type="text" ng-model="location" id="location" class="form-control" placeholder="Location" required>
          <div ng-messages="articleForm.location.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Post location is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
